@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


:root {
  --color-primary: #E7EFC7;
  --color-secondary: #6B7280;
  --color-accent: #8A784E;
  --Text-color:#070435;
  --font-base: 'Inter', sans-serif;
  --color-background-banner: linear-gradient(344deg,rgba(46, 57, 44, 0.97) 17%, rgba(174, 200, 164, 1) 83%);
}

body {
  color: #070435;
  font-family: var(--font-base);
}
.custom-shape-divider-bottom-1748696428 {
    position: absolute;
    top: 30.9rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1748696428 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 172px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1748696428 .shape-fill {
    fill: #ffffff;
}
.custom-backgroud{
  background-color: (var(--background-banner));
}